@import "bootstrap/scss/functions";

$white: #ffffff;
$light: #f4f7f7;
// $dark: #24344e;
$primary: #6ac1d4;
$secondary: #3c8ba6;
$info: #444698;
$success: #529400;
$warning: #ccab46;
$danger: #ea004e;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
}
